[submodule "openwsn-nodes"]
	path = openwsn-nodes
	url = https://github.com/openwsn-berkeley/openwsn-fw
[submodule "root-node/openwsn-fw-root"]
	path = root-node/openwsn-fw-root
	url = https://github.com/imec-idlab/openwsn-fw-root
[submodule "whisper-nodes/openwsn-fw-whispernode"]
	path = whisper-nodes/openwsn-fw-whispernode
	url = https://github.com/imec-idlab/openwsn-fw-whispernode
[submodule "whisper-controller/coap"]
	path = whisper-controller/coap
	url = https://github.com/openwsn-berkeley/coap
